/**
 * Para uso com JS Twitter Bootstrap Dropdown
 */

.dropdown {
    position: relative;
}

.open > .dropdown__item {
    display: block;
}

    .dropdown__item {
        display: none;
        position: absolute;
    }
