.horc {
    overflow: hidden;
    position: relative;
}
    .horc__container {
        float: left;
        left: 50%;
        position: relative;
    }

        .horc__container__inner {
            float: left;
            right: 50%;
            position: relative;
        }
