/**
 * Justificar
 */

.nav--justify {
     text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    text-align-last: justify;

    >li {
        display: inline-block;
        line-height: $base-spacing-unit;
    }

}