/*
 * qTip2 - Pretty powerful tooltips - v2.1.1
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Wed Aug 28 2013 11:49 UTC+0000
 * Plugins: imagemap
 * Styles: None
 */
.qtip{
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;

  max-width: 280px;
  min-width: 50px;

  //font-size: 10.5px;
  //line-height: 12px;

  direction: ltr;

  box-shadow: none;
  padding: 0;
}

  .qtip-content{
    position: relative;
    padding: 5px 9px;
    overflow: hidden;

    text-align: left;
    word-wrap: break-word;
    @extend .btn;
    @extend .btn--neutral;
  }

  .qtip-titlebar{
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;

    border-width: 0 0 1px;
    font-weight: bold;
  }

  .qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

  /* Default close button class */
  .qtip-close{
    position: absolute;
    right: -9px; top: -9px;

    cursor: pointer;
    outline: medium none;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
  }

    .qtip-titlebar .qtip-close{
      right: 4px; top: 50%;
      margin-top: -9px;
    }

    * html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

    .qtip-titlebar .ui-icon,
    .qtip-icon .ui-icon{
      display: block;
      text-indent: -1000em;
      direction: ltr;
    }

    .qtip-icon, .qtip-icon .ui-icon{
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-decoration: none;
    }

      .qtip-icon .ui-icon{
        width: 18px;
        height: 14px;

        line-height: 14px;
        text-align: center;
        text-indent: 0;
        font: normal bold 10px/13px Tahoma,sans-serif;

        color: inherit;
        background: transparent none no-repeat -100em -100em;
      }

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover{}

/* Default tooltip style */
.qtip-default{
  //border-width: 1px;
  //border-style: solid;
  //border-color: #F1D031;

  //background-color: #FFFFA3;
  //color: #555;
}

  .qtip-default .qtip-titlebar{
    //background-color: #FFEF93;
  }

  .qtip-default .qtip-icon{
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
  }

  .qtip-default .qtip-titlebar .qtip-close{
    border-color: #AAA;
    color: #111;
  }

