/**
 * Generates sprites in BOM style (.spriteName, .spriteName--sprite)
 * No objecto em uso, deve-se estender a classe "sprite" do inuitcss para dipara o modo sprite
 */
@mixin sprite-generate($className: s, $spriteLocation: "s/*.png", $spriteLayout: smart, $spriteSpacing: 20) {

    $sprite: sprite-map($spriteLocation, $spacing: $spriteSpacing, $layout: $spriteLayout);
    $sprite-names: sprite-names($sprite);

    // main class
    .#{$className} {
        background-image: sprite-url($sprite);
    }

    // modifier classes
    @each $name in $sprite-names {
        .#{$className}--#{$name} {
            @extend .#{$className};
            background-position: sprite-position($sprite, $name);
            height: image-height(sprite-file($sprite, $name));
            width: image-width(sprite-file($sprite, $name));
        }
    }

}

/**
 * Same as above, without dimensions
 */
@mixin sprite-generate-no-dimensions($className: sprite, $spriteLocation: "s/*.png", $spriteLayout: smart, $spriteSpacing: 20) {

    $sprite: sprite-map($spriteLocation, $spacing: $spriteSpacing, $layout: $spriteLayout);
    $sprite-names: sprite-names($sprite);

    // main class
    .#{$className} {
        background-image: sprite-url($sprite);
    }

    // modifier classes
    @each $name in $sprite-names {
        .#{$className}--#{$name} {
            @extend .#{$className};
            background-position: sprite-position($sprite, $name);
        }
    }

}